{% extends "/templates/layout.twig" %}

{% block navbarContent %}
<a href="../public/index.php"><img src="../public/data/img/logo-jf-1-resize.png" alt=""></a>
    {% if isAdmin %}
        <div class="inline">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#publishChapter" class="text-dark navbar-nav-link">Chapitres publiés</a>
                    <a href="#pendingChapter" class="text-dark navbar-nav-link">Chapitres en attente</a>
                    <a href="#commentModeration" class="text-dark navbar-nav-link">Modération commentaires</a>
                </li>
            </ul>
        </div>
        <a href="../public/index.php?page=getLogout" class="btn btn-danger">Déconnexion</a>
    {% else %}
        <div class="inline">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#chapter" class="text-dark navbar-nav-link">Accéder aux chapitres</a>
                    <a href="" class="text-dark navbar-nav-link">A propos</a>
                    <a href="" class="text-dark navbar-nav-link">Contact</a>
                </li>
            </ul>
        </div>
        <a href="../public/index.php?page=getLogin">
            <button class="btn btn-outline-danger">Connexion</button>
        </a>
    {% endif %}
{% endblock  navbarContent %}

{% block mainHeader %}
    <div class="main-header-jumbotron jumbotron ">
        <h2 class="display-4">Modification du chapitre {{ uniqueChapter.id }}</h2>
        <p class="lead text-center">{{ uniqueChapter.title }}</p>
    </div>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="card text-center">
            <p class="card-header">
                Posté le 
                <span class="font-italic bold">{{ uniqueChapter.createDate }}</span> 
                par 
                <span class="font-italic bold">{{ uniqueChapter.author }}</span>
            </p>
        </div>
    <div class="container text-center">
        <form action="index.php?page=applyChapterModification&chapterId={{ uniqueChapter.id }}" method="post">
            <div class="form-group">
                <label for="chapterTitle" class="h4 bold my-4">Titre du chapitre</label>
                <input type="text" class="form-control" id="chapterTitle" name="chapterTitle" value="{{ uniqueChapter.title }}">
                <label for="chapterContent" class="h4 bold my-4">Contenu du chapitre</label>
                <textarea type="text" class="form-control" id="chapterContent" name="chapterContent" rows="50" >{{ uniqueChapter.content }}</textarea>
                <button type="submit" name="saveAndPublish" class="btn btn-outline-info my-2">Enregistrer et publier les modifications</button>
                <button type="submit" name="saveDraft" class="btn btn-outline-info my-2">Enregistrer les modifications en brouillon</button>
            </div>
        </form>
    </div>
    <div class="text-center">
        {% if isAdmin %}
            <a href="../public/index.php?page=adminView" class="btn btn-info my-2">Retour à l'accueil</a>
        {% endif %} 
    </div>    
{% endblock main %}

