{% extends "/templates/layout.twig" %}

{% block navbarContent %}
    {% if isAdmin %}
    <span class="text-success">Bienvenue {{ session.loginsUsername }}</span>
    <div class="inline">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="#publishChapter" class="text-dark navbar-nav-link">Chapitres publiés</a>
                <a href="#pendingChapter" class="text-dark navbar-nav-link">Chapitre en attente</a>
                <a href="#commentModeration" class="text-dark navbar-nav-link">Modération commentaires</a>
            </li>
        </ul>
    </div>
    <a href="../public/index.php?page=getLogout"><button class="btn btn-danger">Déconnexion</button></a>
    {% else %}
    <div class="inline">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="#chapter" class="text-dark navbar-nav-link">Accéder aux chapitres</a>
                <a href="" class="text-dark navbar-nav-link">A propos</a>
                <a href="" class="text-dark navbar-nav-link">Contact</a>
            </li>
        </ul>
    </div>
    <a href="../public/index.php?page=getLogin">
        <button class="btn btn-outline-danger">Connexion</button>
    </a>
    {% endif %}
{% endblock  navbarContent %}

{% block mainHeader %}
    <div class="main-header-jumbotron jumbotron">
        <h1 class="display-4">Chapitre {{ uniqueChapter.id }} : {{ uniqueChapter.title}}</h1>
    </div>
{% endblock %}

{% block chapterButton %}
    <div class="text-center">
        {{ dump(chapterNumber) }}
        {% if chapterNumber <= 1 and chapterNumber is defined %}            
            <a href="../public/index.php?page=single&chapterId={{ chapterNumber + 1 }}" class="btn btn-info my-2">Chapitre Suivant</a>
        {% else %}
            <a href="../public/index.php?page=single&chapterId={{ chapterNumber - 1 }}" class="btn btn-info my-2">Chapitre précédent</a>
            <a href="../public/index.php?page=single&chapterId={{ chapterNumber + 1 }}"class="btn btn-info my-2">Chapitre Suivant</a> 
        {% endif %}  
    </div>
{% endblock chapterButton %}

{% block publishedChapterContent %}
    <!-- <div id="chapter" class="container"> -->
        <div class="card my-4 text-center">
            <h2 class="card-header">{{ uniqueChapter.title }}</h2>
            <p class="card-body">
                Posté le 
                <span class="font-italic">{{ uniqueChapter.createDate }}</span> 
                par 
                <span class="font-italic">{{ uniqueChapter.author }}</span>
            </p>
            <p class="text-center-justify"> {{ uniqueChapter.content }}</p>
        </div>
        {% if isAdmin %}
            <div class="text-center">
                <a href="../public/index.php?page=adminView" class="btn btn-info my-2">Retour à l'accueil</a>
            </div>  
        {% else %}
            <div class="text-center">
                <a href="../public/index.php" class="btn btn-info my-2">Retour à l'accueil</a>
            </div>
        {% endif %}
    </div>
<hr>
{% endblock publishedChapterContent %}

{% block commentContent %}     
    <h4 class="text-center">Commentaire</h4>
        {% for comment in commentList %}
            <div class="container text-center">
                <div class="card my-4">
                    <p class="card-header">
                        Posté le <span class="font-italic">{{ comment.createdDate }}</span> 
                        par <span class="font-italic bold">{{ comment.author }}</span>
                    </p>
                    <p class="card-body my-4">
                        {{ comment.content }}
                    </p>
                    <div class="reporting-button">
                        <a href="../public/index.php?page=reportComment&chapterId={{ uniqueChapter.id }}&commentId={{ comment.id }}"
                            class="btn btn-warning custom">Signaler ce commentaire
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <h2 class="card-header text-center">Aucun commentaires</h2>
        {% endfor %}
        </div>
    </div>
<hr>
{% endblock  %}
    
{% block commentForm %}
    <div class="container">
        <div class="card text-center my-4">
        <h3 class="card-header">Ajouter un commentaire</h3>
            <form action="index.php?page=addComment&chapterId={{ uniqueChapter.id }}" method="post" class="card-body">
                <div class="form-group">
                    <label for="commentAuthor" class="bold">Pseudonyme</label>    
                    <input type="text" class="form-control" id="commentAuthor" name="commentAuthor"></input>
                    <label for="commentTitle" class="bold">Titre</label>
                    <input type="text" class="form-control" id="commentTitle" name="commentTitle">
                    <label for="commentContent" class="bold">Votre commentaire</label>
                    <textarea type="text" class="form-control" id="commentContent" name="commentContent" rows="10"></textarea>
                    <button type="submit" name="submit" class="btn btn-primary">Soumettre commentaire</button>
                </div>
            </form>    
        </div>
    </div>    
{% endblock commentForm %}
