{% extends "/layout.html.twig" %}

{% block pageTitle %} Page administrateur | {{ parent() }} {% endblock pageTitle %}

{% block main %}
<div class="container-fluid">
    <div class="row main-row d-flex flex-xrap">
        <nav class="sidebar col-md-2">
            <ul class="sidebar-list list-unstyled pt-3">
                <li class="nav-item pb-3">
                    <span class="fas fa-feather-alt"></span><a class="nav-link d-inline  sidebar-nav-link" href="#">Écrire</a>
                </li>
                <li class="nav-item pb-3">
                    <span class="fas fa-book"></span><a href="/adminView#publishChapter" class="nav-link d-inline sidebar-nav-link">Chapitres publiés</a>
                </li>
                <li class="nav-item pb-3">
                    <span class="fas fa-book-reader"></span><a href="/adminView#pendingChapter" class="nav-link d-inline sidebar-nav-link">Chapitres en attente</a>
                </li>
                <li class="nav-item pb-3">
                    <span class="fas fa-comment"></span><a href="/adminView#commentModeration" class="nav-link d-inline sidebar-nav-link">Modération</a>
                </li>
            </ul>
        </nav>
        <div class="main col-md-10">
            {{ dump(session) }}
            {% if session.success is not null %}
            <div class="display-4 text-center bg-success rounded my-4">{{ session.success }}</div>
            {% endif %}
            {% if session.danger is not null %}
            <div class="display-4 text-center bg-danger rounded my-4">{{ session.danger }}</div>
            {% endif %}
            <section id="writingChapter" class="card m-auto my-3 p-3 writingChapter">
                <p class="writingChapter-title text-center mb-4"> Créer un nouveau chapitre </p>
                <div class="text-center">
                    <a href="/createChapter" class="btn yellowbtn"><span class="button-text">Écrire</span></a>
                </div>
            </section>
            <hr class="adminpageSeparator">
            <section> 
                <h4 class="summary-title my-5"> Vue d'ensemble </h4>
                <div class="container summary-container">
                    <p class="summary-subtitle my-5"> Tous les chapitres </p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Titre</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Crée le</th>
                                <th scope="col">Publié</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chapter in allChaptersList %}
                            <tr>
                                <td class="allChaptersList align-middle p-3">{{ chapter.title }}</td>
                                <td class="align-middle p-3">{{ chapter.author }}</td>
                                <td class="font-italic align-middle p-3">{{ chapter.createDate | date("d/m/Y \à H:i:s") }}</td>
                                <td class="align-middle p-3">{{ chapter.published ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>            
            <hr class="adminpageSeparator">
            <section id="publishChapter" class="card publishChapterAdmin">
                    <p class="publishChapterAdmin-title text-center"> Chapitre publiés </p>
                    <p class="publishChapterAdmin-text text-center">Liste de tous les chapitres publiées</p>
                    <p class="text-muted text-center"><span class="font-italic">Options disponibles :</span><span class="bold"> Visionnage</span>, <span class="bold">Modification</span> du chapitre</p>
                {% set plusOne = 0 %}
                {% for chapter in publishedChaptersList %}
                    {% if plusOne < publishedChaptersList|length %} 
                        {% set plusOne = plusOne + 1 %}
                    {% endif %}
                <div id="publishaccordion{{ plusOne }}">
                    <div class="card publishChapterCard m-1">
                        <div class="card-header p-3 align-middle bg-white" id="heading{{ plusOne }}">                            
                            <p class="font-italic mt-2 publishChapterCard-date"> Publié le {{ chapter.createDate | date("d/m/Y \à H:i:s")}}</p>
                            <a href="#" class="publishChapterCard-link" data-toggle="collapse" data-target="#collapse{{ plusOne }}" aria-expanded="false" aria-controls="collapse{{ plusOne }}">
                                <span class="publishChapterCard-title">{{ chapter.title }} </span>   
                            </a>                              
                        </div>                      
                        <div id="collapse{{ plusOne }}" class="collapse publishChapterCard-collapse" aria-labelledby="heading{{ plusOne }}" data-parent="#publishaccordion{{ plusOne }}">
                            <div class="card-body">
                                <p class="font-italic bold">Extrait :</p>
                                <p>{{ chapter.content | raw | slice(0, 500) }}...</p>
                            </div>
                            <div class="text-center">
                                <a href="/readChapter/{{ chapter.id }}" class="btn publishChapterCard-btn yellowbtn ">Visionner</a>
                                <a href="/updateChapter/{{ chapter.id }}" class="btn publishChapterCard-btn greenbtn ">Modifier</a>                  
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section> 
            <hr class="adminpageSeparator">
            <section id="pendingChapter" class="card pendingChapterAdmin">
                <p class="pendingChapterAdmin-title text-center">Chapitre en attentes de publication</p>
                <p class="text-muted text-center">
                    <span class="font-italic">Options disponibles :</span> 
                    <span class="bold">Modification</span>, 
                    <span class="bold">Publication</span> ou 
                </p>
                {% for chapter in unpublishedChaptersList %}
                    <div id="unpublishedaccordion{{ chapter.id }}">
                        <div class="card unpublishChapterCard m-1">
                            <div class="card-header p-3 align-middle bg-white" id="unpublishHeading{{ chapter.id }}">                            
                                <p class="font-italic mt-2 publishChapterCard-date"> Créé le {{ chapter.createDate | date("d/m/Y \à H:i:s") }}</p>
                                <a href="#" class="unpublishChapterCard-link" data-toggle="collapse" data-target="#unpublishCollapse{{ chapter.id }}" aria-expanded="false" aria-controls="collapse{{ plusOne }}">
                                    <span class="unpublishChapterCard-title">{{ chapter.title }} </span>   
                                </a>                              
                            </div>                      
                            <div id="unpublishCollapse{{ chapter.id }}" class="collapse" aria-labelledby="unpublishHeading{{ chapter.id }}" data-parent="#unpublishedaccordion{{ chapter.id }}">
                                <div class="card-body">
                                    <p  class="font-italic bold">Extrait :</p>
                                    <p>
                                    {{ chapter.content | raw | slice(0, 350)  }}...</p>
                                </div>
                                <div class="text-center">
                                    <a href="/updateChapter/{{ chapter.id }}" class="btn unpublishChapterCard-btn yellowbtn ">
                                        Modifier
                                    </a>
                                    <a href="/publishChapter/{{ chapter.id }}" class="btn unpublishChapterCard-btn greenbtn ">Publier</a>               
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
            <hr class="adminpageSeparator">
            <section id="commentModeration" class="card commentModerationAdmin">
                <p class="commentModerationAdmin-title text-center">Modération des commentaires</p>
                <p class="publishChapterAdmin-text text-center">
                    Voici la liste de tous les commentaires que les utilisateurs ont signalés et nécessitant de la Modération.
                </p>
                <p class="text-muted text-center">
                    <span class="text-muted font-italic">Options disponibles :</span> 
                    <span class="text-muted bold">VALIDATION</span>, 
                    <span class="text-muted bold">SUPPRESSION</span> du commentaire
                </p>   
                {% for comment in reportedCommentList %}
                    <div class="card commentModerationCard mt-3">
                        <p class="card-header text-left bold">
                            <span class="font-italic">Posté le</span> {{ comment.createdDate | date("m/d/Y \à H:i:s") }} <span class="font-italic">par</span>  {{ comment.author }}
                        </p>
                        <p class="card-body commentModerationCard-text p-4 text-center m-auto">{{ comment.content }}</p>
                        <div class="text-center">
                            <a href="/validateComment/{{ comment.chapterId }}/{{ comment.id }}" class="btn commentModerationCard-btn greenbtn">Valider</a>
                            <a href="/deleteComment/{{ comment.chapterId }}/{{ comment.id }}" class="btn commentModerationCard-btn redbtn">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}    
            </section>
        </div>
    </div>
</div>
{% endblock main %}