{% extends "/layout/layout.twig" %}

{% block navbarContent %}
    {% if isAdmin %}
        <a href="../public/index.php?page=adminView"><img src="../public/img/logo-JF-v3.png" alt=""></a>
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item active">
                    <a href="../public/index.php?page=adminView#publishChapter" class="navbar-nav-link">Chapitres publiés</a>
                </li>
                <li>
                    <a href="../public/index.php?page=adminView#pendingChapter" class="navbar-nav-link">Chapitres en attente</a>
                </li>    
                <li>
                    <a href="../public/index.php?page=adminView#commentModeration" class="navbar-nav-link">Modération</a>
                </li>
                <a href="../public/index.php?page=getLogout" class="btn navbar-button">Déconnexion</a>
            </ul>
    {% else %}
        <a href="../public/index.php"><img src="../public/img/logo-JF-v3.png" alt=""></a>
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item active">
                    <a href="../public/index.php#publishChapter" class="navbar-nav-link">Accéder aux chapitres</a>
                </li>
                <li class="nav-item">
                    <a href="../public/index.php#about" class="navbar-nav-link">A propos</a>
                </li>
                <li class="nav-item">
                    <a href="../public/index.php?page=contact" class="navbar-nav-link">Contact</a>
                </li>
                <a href="../public/index.php?page=getLogin" class="btn navbar-button"><span class="button-text">Connexion</span></a>
            </ul>
    {% endif %}
{% endblock  navbarContent %}

{% block mainHeader %}
    <img src="../public/img/write.jpg" alt="" class="main-header-img">
    <div class="main-header-container container">
        <p class="main-header-text">Bienvenue</p>
        <h1 class="text-lead main-header-h1">L'aventure <span>"Billet simple pour l'alaska"</span> commence <a href="../public/index.php#publishChapter">ici</a></h1>
    </div>
{% endblock %}
    
{% block main %}
    <section id="about" class="container about">
        <div class="row">
            <div class="col-4">
                <img src="../public/img/portrait1.png" class="about-img">
            </div>
            <div class="col-8 about-text">            
                <h2 class="display-4 about-text-title ">
                    A propos de moi
                </h2>
                <p class="about-text-content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised 
                    in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                     like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
        <blockquote class="container about-quote text-center">
            <p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
            <footer>— Jean Forteroche,
                 <cite>Brave New World</cite>
            </footer>
        </blockquote>
        <hr>
    </section>
    <section id="publishChapter" class="publishchapter">
        <div class="jumbotron text-center">
            <div class="container publishchapter-container">
                <h2 class="publishchapter-title display-4">
                    Chapitres disponibles
                </h2>
                <p class="lead text-muted">Retrouvez ci-dessous tous les chapitres disponibles. N'hésitez pas a laisser un commentaire pour me faire un retour de vos impressions !</p>
            </div>
        </div>
        <div class="chapter text-center">
            {% for chapter in publishedChaptersList %}
                <div class="col-md-4">
                    <div class="chapter-card my-4">
                        <h4 class="chapter-card-header">{{ chapter.title }}</h4>
                        <img src="../public/img/img-chapter-1.jpg">
                        <p class="chapter-card-body text-muted">
                            Publié le 
                            <span class="font-italic">{{ chapter.createDate }}</span> 
                            par 
                            <span class="font-italic">{{ chapter.author }}</span>
                        </p>
                        <p class="chapter-card-content text-justify"> {{ chapter.content | slice(0, 150)}}...<p>
                        <a href="../public/index.php?page=single&chapterId={{ chapter.id }}" class="btn chapter-card-btn my-3">
                            Lire le chapitre
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="chapter text-center">
                    <div class="col-md-4">
                        <div class="chapter-card my-4">
                            <h2 class="card-header">Pas de chapitre trouvé</h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}