{% extends "/layout.html.twig" %}

{% block pageTitle %} Chapitre {{ uniqueChapter.id }} | {{ parent() }} {% endblock pageTitle %}

{% block mainHeader %}
{% if session.modifySuccessMsg is not null %}
    <div class="sessionFont text-white text-center bg-success rounded">{{ session.modifySuccessMsg }}</div>
{% endif %}
<div class="page-title text-center mb-4 p-4">
    <div class="container page-title-container">
            {% if uniqueChapter.imgUrl is not null %}
                <img src={{ uniqueChapter.imgUrl }} alt="" class="chapterimg m-auto">
            {% endif %}   
        <p class="page-title-text mt-4 font-italic">Chapitre {{ uniqueChapter.id }} :</p>
        <h1 class="text-lead w-80 m-auto page-title-h1"><span class="font-italic">{{ uniqueChapter.title}}</span></h1>
    </div>
</div>
<hr class="w-50 m-auto">
{% endblock %}

{% block main %}
<section id="publishChapter" class="container">
    <div class="card my-4 border-0 bg-white">
        <p class="card-header float-right bg-white mb-4 pb-3">
            {% if uniqueChapter.createDate == uniqueChapter.updateDate %}
                Publié le 
                <span class="font-italic bold">{{ uniqueChapter.createDate | date("d/m/Y \à H:i:s") }}</span> 
            {% else %}
                Modifié le 
                <span class="font-italic bold">{{ uniqueChapter.updateDate | date("d/m/Y \à H:i:s") }}</span> 
            {% endif %}
            par 
            <span class="font-italic bold">{{ uniqueChapter.author }}</span>
        </p>
        <p id="chapterContent" class="card-body publishChapterSingleCard-body text-center-justify py-4">{{ uniqueChapter.content | raw }}</p>
    </div>
    <div class="text-center">
        {% if chapterNumber <= 1 and chapterNumber is defined %}            
            <a href="/readChapter/{{ chapterNumber + 1 }}" class="btn yellowbtn my-2">Chapitre Suivant</a>
        {% else %}
            <a href="/readChapter/{{ chapterNumber - 1 }}" class="btn yellowbtn my-2">Chapitre précédent</a>
            <a href="/readChapter/{{ chapterNumber + 1 }}"class="btn yellowbtn my-2">Chapitre Suivant</a> 
        {% endif %}  
    </div>
    {% if isAdmin %}
        <div class="singlePage-return text-center p-4">
            <i class="far fa-arrow-alt-circle-left"></i><a href="/adminView" class="ml-2 my-2">Retour à la page d'administration</a>
        </div>  
    {% else %}
        <div class="singlePage-return text-center p-4">
            <i class="far fa-arrow-alt-circle-left"></i><a href="/" class="ml-2 my-2">Retour à l'accueil</a>
        </div>
    {% endif %}
</section>
<hr class="w-50 my-4">
<section id="comment" class="container comment">
    <h4 class="text-left">{{ commentList | length }} Commentaires</h4>     
    {% for comment in commentList %}
        <div class=" text-center">
            <div class="my-4">
                <p class="text-left card-header p-0 bg-white">
                    <span class="font-italic bold">{{ comment.author }}</span>
                    posté le <span class="font-italic">{{ comment.createdDate | date("d/m/Y \à H:i:s") }}</span>
                </p>
                <p class="card-body text-left m-0 pt-2 pl-4">
                    {{ comment.content }}
                </p>
                {# dump(reportedCommentList) #}
                <div class="reporting-comment text-left pt-2 pl-4">
                    <a href="/reportComment/{{ uniqueChapter.id }}/{{ comment.id }}"
                    class="reporting-link">Signaler<i class="fa fa-thumbs-down reporting-icon ml-3"></i>
                    {% for totalReport in totalReporting %}
                        {% if totalReport.commentId == comment.id %}{{ totalReport.totalReport }}
                        {% endif %}
                     </a>
                {% endfor %}
                {% for totalReport in reportedCommentList %}
                        {% if totalReport.id == comment.id %}{{ totalReport.totalReport }}
                        {% endif %}
                     </a>
                {% endfor %}
            </div>
                {% for totalReport in totalReporting %}
                    {% if totalReport.commentId == comment.id %}
                    <p class="font-weight-bold text-warning p-3 mt-3 bg-light reporttag">
                        Commentaire signalé, en attente de modération
                    </p>
                    {% endif %} 
                {% endfor %}    
            
        </div>
    </div>
    {% else %}
        <h2 class="card-header text-center">Aucun commentaires</h2>
    {% endfor %}
</section>
<hr class="commentSeparator">
<section class="container">
    <div class=" my-4">
    {% if session.commentSuccess is not null %}
        <div class="sessionFont text-white text-center bg-success rounded">{{ session.commentSuccess }}</div>
    {% endif %}
    {% if session.commentError is not null %}
        <div class="sessionFont text-white text-center bg-danger rounded">{{ session.commentError }}</div>
    {% endif %}
    <h4 class="p-3">Laisser un commentaire</h4>
        <form action="/createComment/{{ uniqueChapter.id }}" method="post" class="leaveComment-form">
            <div class="form-group">
                <label for="author" class="bold" >Pseudonyme</label>    
                    <input type="text" class="form-control" id="author" name="author">
                <label for="content" class="bold">Votre commentaire</label>
                    <textarea class="form-control" id="content" name="content" rows="10"></textarea>
                <div class="commentButton text-center">
                    <button type="submit" name="submit" class="btn yellowbtn my-2">Soumettre commentaire</button>
                </div>
            </div>
        </form>    
    </div>  
</section>
{% endblock main %}
